.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.roundButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.sSizeButton {
  width: 134px;
  height: 34px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.sSizeButton img {
  width: 14px;
  height: 16px;
}

.mSizeButton {
  width: 144px;
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.mSizeButton img {
  width: 16px;
  height: 16px;
}

.lgSizeButton {
  width: 168px;
  height: 41px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.lgSizeButton img {
  width: 20px;
  height: 20px;
}

.cursorDefault {
  cursor: default;
}

.roundButton {
  width: 24px;
  height: 24px;
  margin-right: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}